.custom-accept-button {
  background-color: #2d53da; 
  border: 1px solid #2d53da;
  padding: 0.3rem 1.25rem;
  margin: 0 1.5rem 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  font-size: 1rem;
  border-radius: 6px;
  color: white
}

.custom-accept-button:hover {
  background-color: #0d37ce;
}

.custom-reject-button {
  padding: 0.3rem 1.25rem;
  color: #2d53da;
}

.date-box {
  justify-content: center !important;
}